
/* #####################################  START OF MIXINS  ###################################### */

@mixin flex {
  display: flex;
}

@mixin center {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin center_horizontal {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@mixin center_vertical {
  display: flex;
  align-items: center;
}

@mixin center_vertical_column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin drop_shadow_center {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
}

@mixin button_hover {
  opacity: 0.8;
  cursor: pointer;
}

@mixin navbar_height{
  height:66px;
}

@mixin button_fill_blue{
  border: 3px solid #3C7BFF;
  border-radius: 3px;
  width:110px;
  height: 38px;
  font-size: 15px;
  font-weight: 600;
  background: #3C7BFF;
  color:white;
  cursor: pointer;
}

@mixin button_blue_border{
  border: 3px solid #3C7BFF;
  border-radius: 3px;
  width:110px;
  height: 38px;
  font-size: 15px;
  font-weight: 600;
  background: none;
  color:#3C7BFF;
  cursor: pointer;
}


body{
  font-family: 'Mada', sans-serif;
}

a{
  text-decoration: none;
  color:black;
}

button:hover{
  opacity: 0.8;
  transition: 0.1s;
  cursor: pointer;
}

/* #####################################  START OF NAVBAR  ###################################### */

.navbar-container {
  width: 100%;
  display: flex;
  height:66px
}

.logo-container {
  @include center_vertical;
  width: 250px;
  position: fixed;
  height: 66px;

  p {
    padding-left: 45px;
    font-weight: bold;
  }
}

.search-container {
  @include center_vertical;
  padding: 0 20px 0 260px;

  .inner-container {
    display: flex;
    i {
      padding: 0 6px 1px 3px;
      @include center_vertical;
    }
    input {
      height: 30px;
      width: 100%;
      border:none;
      outline: none;
      font-size: 18px;
    }
    input::placeholder {
      font-size: 18px;
    }
  }
}

.navbar-menu-container {
  display: flex;
  padding: 0 45px 0 0;
  margin-left: auto;
  position: relative;
  .bell {
    padding:0 5px;
    font-size: 20px;
    @include center_vertical
  }
  .avatar {
    padding:0 15px;
    width:40px;
  }
  .name-container {
    display: flex;
    cursor: pointer;
    i {
      padding: 2px 0 0 7px;
      @include center_vertical;
      font-size: 19px;
    }
    p {
      @include center_vertical;
      font-weight: bold;
      font-size: 17px;
      white-space: nowrap;
    }
  }
  .navbar-dropdown{
    z-index: 10;
    padding: 6px 0;
    background:white;
    border:1px solid #d4d4d4;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: absolute;
    top:58px;
    left: 40px;
    .link-with-icon{
      padding: 10px 20px;
      opacity: 0;
      i{
        font-size: 16px;
        padding: 5px 14px 0 0;
      }
      p{
        font-size: 16px;
        font-weight: 600;
        margin:0;
      }
    }
    .links-line{
      opacity: 0;
    }
  }
  .t{
    animation-name:menu;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    .link-with-icon, .links-line{
      animation-name:opacity;
      animation-duration: 0.2s;
      animation-delay: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

.hide{
  opacity: 0;
  padding-top: 10px !important;
  transition: 0.2s;
}

@keyframes menu {
  from{
    width: 20px;
    height: 20px;

  }
  to{
    width:calc(100% - 70px);
    height: 256px;

  }
}

@keyframes opacity {
  from{
    opacity: 0;
  }
  to{
    opacity:1;
  }
}

.links-line{
  width: 90%;
  margin: 10px 5%;
  border-bottom: 1px solid #d4d4d4;
}

.select-dropdown-container{
  padding-right: 40px;
  .dropdown-select{
    display: flex;
    cursor: pointer;
    .select-label{
      color: #a0a0a0;
      font-weight: 500;
    }
    .select-container{
      position: relative;
      .select-title{
        @include center_vertical;
        margin: 0 0 0 7px;
        p{
          font-weight: 600;
          color:#3C7BFF;
        }
        i{
          margin: 6px 0 0 4px;
          color:#3C7BFF;
        }
      }
      .select-dropdown{
        position: absolute;
        top:42px;
        left:5px;
        z-index: 9;
        background: white;
        border-radius: 4px;
        border:1px solid #d4d4d4;
        animation-name:opacity;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.12);
        p{
          padding: 12px 40px 12px 20px;
          margin: 0;
          transition: 0.2s;
          color: #4b4b4b;
          font-weight: 500;
        }
        p:hover{
          color:#3C7BFF;
        }
      }
    }
  }
}


/* #####################################  START OF SIDEBAR  ###################################### */

.sidebar-container {
  width: 250px;
  height: calc(100vh - 66px);
  position: fixed;
  left: 0;
  top: 66px;

  .inner-container{
    padding-left: 45px;

    .links-container {
      margin-top: 30px;
    }
  }
}

.link-with-icon{
  @include center_vertical;
  padding: 20px 0;
  cursor: pointer;
  transition: 0.2s;
  i {
    font-size: 18px;
    padding: 5px 18px 0 0;
  }
  p {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }
}

.link-with-icon:hover{
  color:#3C7BFF;
}

.link-with-icon:hover a{
  color:#3C7BFF;
}


.dashboard-container{
  background: #F6F6F6;
  width:calc(100% - 250px);
  min-height: calc(100% - 66px);
  position: absolute;
  left:250px;
  top:66px;

  .dashboard-content{
    background: white;
    padding: 15px 0 0 15px;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    margin: 10px 0 0 10px;
  }
}



.item-card-container {
  width: 260px;
  border-radius: 8px;
  position: relative;
  @include drop_shadow_center;
  .image-container {
    img {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
  }
  .data-container {
    @include center_vertical_column;
    padding: 10px 20px;
    h1 {
      font-size: 20px;
      text-align: center;
      margin:0;
      padding: 0 0 8px 0;
      border-bottom: 1px solid #e0e0e0;
      font-weight: 600;
    }
  }
  .settings-dropdown-container{
    position: absolute;
    bottom:5px;
    right:0;
    .drop-icon{
      font-size: 21px;
      cursor: pointer;
      color: #4d4d4d;
      padding: 10px 15px 10px 10px ;
    }
    .drop-icon:hover{
      opacity: 0.8;
    }
    .settings-dropdown{
      position: absolute;
      right: 0;
      top: 27px;
      z-index: 9;
      background: white;
      border-radius: 3px;
      border: 1px solid #d4d4d4;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.12);
      animation-name:opacity;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      a{
        text-decoration: none;
        color:black;
      }
      .dropdown-item{
        cursor: pointer;
        @include center_vertical;
        padding: 4px 9px;
        opacity: 0.9;
        p{
          margin: 0 6px 0 0;
          font-size: 16px;
          font-weight: 500;
        }
        i{
          display: flex;
          padding: 10px 13px 10px 10px;
          font-size: 18px;
        }
      }
      .dropdown-item:hover{
        background: #f1f1f1;
      }
    }
  }
}

.red-font{
  color:red !important;
}


.title-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px 5px 0;
  h1 {
    margin:0;
    font-size: 22px;
    font-weight: 600;
    @include center_vertical;
  }
  button {
    border-radius: 3px;
    padding: 10px 28px;
    font-size: 15px;
    font-weight: 600;
    background: #3C7BFF;
    color:white;
    border:none;
  }
}

.location-container {
  margin: 10px 0 5px 0;
  @include center_vertical;
  p {
    margin: 0 18px 0 0;
    font-weight: 600;
    font-size: 16px;
    color:#3C7BFF;
  }
  i {
    margin: 4px 4px 0 0;
    font-size: 18px;
    color:#3C7BFF;
  }
}

.price-container{
  @include center_vertical;
  h2{
    margin: 0;
    color:#3C7BFF;
  }
  p{
    margin: 3px 0 0 3px;
    font-weight: 500;
    color: #828282;
  }
}


.item-page-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .images-container {
    width:100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    img {
      width: 100%;
    }
    .thumbnail-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap:3%;
      margin: 5px 0 10px 0;
      img {
        width:30%;
        margin:20px 0 0 0;
        border-radius: 7px;
      }
      .upload-image-icon {
        width:30%;
        margin: 20px 0 0 0;
        border-radius: 7px;
        @include drop_shadow_center;
        @include center;
        i {
          color:#3C7BFF;
          font-size: 28px;
          @include center
        }
      }
    }
    .thumbnail-container:after{
      content:'';
      width:30%;
    }
  }
  .data-container {
    padding: 20px 60px 20px 50px;
    max-width: 700px;
    flex: 1 1 300px;
    h1 {
      font-size: 24px;
    }
    .location-price{
      margin:30px 0;
    }
    .item-description{
      font-weight: 500;
      font-size: 17px;
    }
    .button-container{
      margin-top:35px;
      button:hover{
        opacity: 0.8;
        transition: 0.1s;
      }
      button:nth-child(1){
        @include button_fill_blue;
        margin-right: 25px;
      }
      button:nth-child(2){
        @include button_blue_border;
      }
    }
  }
  .details-container{
    border-top:1px solid #d7d7d7;
    width:100%;
    margin: 20px 50px 20px 0;
    padding-top:10px;
    h1{
      font-size: 20px;
    }
    p{
      max-width: 700px;
    }
  }
  .map-container{
    width:100%;
    height:400px;
    border: 1px solid grey;
    margin: 20px 50px 20px 0;
  }
  .contact-container{
    width:100%;
    height:400px;
    border: 1px solid grey;
    margin: 20px 50px 20px 0;
  }
}

.search-page-container{
  padding: 0 30px 0 10px ;
  .item-search-container{
    padding: 10px 5px 10px 0;
    display: flex;
    background: #3C7BFF;
    border-radius: 50px;
    @include center_vertical;
    .icon-container{
      background: white;
      width: 43px;
      height: 40px;
      border-radius: 100%;
      margin-left: 10px;
      @include center;
      i{
        color:#3C7BFF;
        margin: 4px 0 0 0;
        font-size: 20px;
      }
    }
    input{
      border: none;
      margin: 0 0 0 13px;
      outline: none;
      font-size: 16px;
      font-weight: 500;
      width: 100%;
      background: #3C7BFF;
      color:white;
    }
    input::placeholder {
      font-weight: 600;
      font-size: 18px;
      color:white;
    }
  }
  .filters-container{
    display: flex;
    margin: 15px 10px;
  }
  .card-container{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 30px 10px;
  }
}


.confirm-modal-container{
  position: fixed;
  top:66px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100vh - 66px);
  animation-name:opacity;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  background: rgba(42, 42, 42, 0.5);
  @include center;
  .confirm-modal{
    background: rgba(255, 255, 255, 1);
    max-width: 500px;
    border-radius: 5px;
    text-align: center;
    @include center_vertical_column;
    padding: 35px 60px 25px 60px;
    i {
      font-size: 40px;
      color: #ff5252;
      margin-bottom: 10px;
    }
    .action {
      margin: 5px 0 10px 0;
      font-size: 18px;
    }
    .item {
      margin: 5px 0;
      font-size: 20px;
    }
  }
}

.button-container {
  margin: 10px 0 5px 0;
  .confirm {
    margin: 0 10px;
    width:100px;
    height: 36px;
    background: #3C7BFF;
    border: none;
    border-radius: 3px;
    color:white;
    font-weight: 600;
    transition: 0.1s;
    cursor: pointer;
  }
  .cancel {
    margin: 0 10px ;
    width:100px;
    height: 36px;
    background: none;
    border: 2px solid #959595;
    border-radius: 3px;
    color: #5e5e5e;
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;
  }
  .confirm:hover, .cancel:hover{
    opacity: 0.8;
    transition: 0.1s;
  }
}

.background-blue{
  background: #3C7BFF !important;
}

.background-red{
  background: #ff5252 !important;
}

.color-blue{
  color: #3C7BFF !important;
}

.color-red{
  color: #ff5252 !important;
}

.border-red{
  border-color: #ff5252 !important;
}


.input-modal-container{
  position: fixed;
  top:66px;
  left: 250px;
  animation-name:opacity;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  width: calc(100% - 250px);
  height: calc(100vh - 66px);
  background: rgba(42, 42, 42, 0.5);
  @include center;
  .input-modal{
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    @include center_vertical_column;
    padding: 40px 50px 50px 50px;
    width:80%;
  }
}

.number-input{
  width:100px;
}
.input-container{
  position: relative;
  margin:40px 0 50px 0;
  label{
    position:absolute;
    font-size: 16px;
    font-weight: 500;
    left:-6px;
    top:-4px;
    color: #494949;
    transition: 0.2s;
    pointer-events: none;
  }
  input{
    border:none;
    border-bottom: 1px solid #b1b1b1;
    margin-left:-10px;
    background: none;
    outline:none;
    width:100%;
    max-width: 600px;
    padding: 0 0 2px 4px;
    font-size: 18px;
  }
  input:focus + label {
    color: #3C7BFF;
    transition: 0.2s;
    left:-20px;
    top:-30px;
  }
  input:not(:placeholder-shown) + label {
    left:-20px;
    top:-30px;
    color: #3C7BFF;
  }
}

.textarea-container{
  position: relative;
  margin: 70px 0 30px 0;
  label{
    position:absolute;
    left:-7px;
    top:-10px;
    font-size: 16px;
    font-weight: 500;
    color: #494949;
  }
  textarea{
    margin: 10px 0 0 -10px;
    outline:none;
    width:100%;
    max-width: 600px;
    font-size: 16px;
    border:none;
    border-bottom: 1px solid #b1b1b1;
    resize: none;
  }
}

.add-item-modal-container{
  width:100%;
  justify-content: space-between;
  display: flex;
  .data-input-container{
    width: 50%;
  }
  .image-input-container{
    width: 50%;
    margin: 0 25px;
    @include center_vertical_column;
    .main-image-container{
      @include center;
      height: 100%;
      img{
        max-width:100%;
        margin: 10px 0;
      }
      input{
        margin: 30px 0;
      }
    }
  }
}

.modal-confirm-button {
  margin: 30px 0;
  padding: 10px 37px;
  border: none;
  background: #3C7BFF;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.custom-file-upload{
  border: 2px solid #3C7BFF;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #3C7BFF;
  font-weight: 600;
  border-radius: 3px;
  font-size: 16px;
  margin: 20px 0;
}


.auth-page{
  width: 100%;
  height: 100vh;
  @include center;
  .auth-page-logo{
    position: absolute;
    top:30px;
    left: 50px;
  }
  .auth-container{
    @include center_vertical_column;
    margin-left:20px;
    h1{
      margin: 0 0 40px -20px;
      padding: 0 0 3px 0;
      border-bottom: 6px solid #3C7BFF;
      width: fit-content;
      color: #4b4b4b;
    }
    .input-form{
      display: flex;
      flex-direction: column;
      button{
        padding: 10px 30px;
        border-radius: 3px;
        align-self: center;
        margin: 20px 0 0 -20px;
        border:none;
        background: #3C7BFF;
        outline: none;
        color:white;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
      }
      .auth-question{
        display: flex;
        margin: 8px 0 8px 10px;
        p{
          color: #686868;
          font-size: 13px;
          margin: 0;
        }
        a{
          color: #505050;
          font-size: 13px;
          font-weight: 600;
          margin-left:5px;
          cursor: pointer;
        }
      }
    }
  }
  .auth-input{
    margin: 20px 0 30px 0;
  }
}

.my-items{
  .filter-container{
    padding: 5px 0 10px 0;
  }
;
}


