
/* #####################################  START OF MIXINS  ###################################### */

@mixin flex {
  display: flex;
}

@mixin center {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin center_horizontal {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@mixin center_vertical {
  display: flex;
  align-items: center;
}

@mixin center_vertical_column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin drop_shadow_center {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.12);
}

@mixin button_hover {
  opacity: 0.8;
  cursor: pointer;
}

@mixin navbar_height{
  height:66px;
}

@mixin button_fill_blue{
  border: 3px solid #3C7BFF;
  border-radius: 3px;
  padding: 10px 23px;
  font-size: 15px;
  font-weight: 600;
  background: #3C7BFF;
  color:white;
  cursor: pointer;
}

@mixin button_blue_border{
  border: 3px solid #3C7BFF;
  border-radius: 3px;
  padding: 10px 23px;
  font-size: 15px;
  font-weight: 600;
  background: none;
  color:#3C7BFF;
  cursor: pointer;
}

body{
  font-family: 'Mada', sans-serif;
}

/* #####################################  START OF NAVBAR  ###################################### */

.navbar-container {
  width: 100%;
  display: flex;
  height:66px
}

.logo-container {
  @include center_vertical;
  width: 250px;
  position: fixed;
  height: 66px;

  p {
    padding-left: 45px;
    font-weight: bold;
  }
}

.search-container {
  @include center_vertical;
  padding: 0 20px 0 260px;

  .inner-container {
    display: flex;
    i {
      padding: 0 6px 1px 3px;
      @include center_vertical;
    }
    input {
      height: 30px;
      width: 100%;
      border:none;
      outline: none;
      font-size: 18px;
    }
    input::placeholder {
      font-size: 18px;
    }
  }
}

.navbar-menu-container {
  display: flex;
  padding: 0 45px 0 0;
  margin-left: auto;

  .bell {
    padding:0 5px;
    font-size: 20px;
    @include center_vertical
  }
  .avatar {
    padding:0 15px;
    width:40px;
  }
  .name-container {
    display: flex;

    i {
      padding: 4px 0 0 7px;
      @include center_vertical;
      font-size: 19px;
    }
    p {
      @include center_vertical;
      font-weight: bold;
      font-size: 17px;
      white-space: nowrap;
    }
  }
}

/* #####################################  START OF SIDEBAR  ###################################### */

.sidebar-container {
  width: 250px;
  height: calc(100vh - 66px);
  position: fixed;
  left: 0;
  top: 66px;

  .inner-container{
    padding-left: 45px;

    .links-container {
      margin-top: 30px;
    }
  }
}

.sidebar-link{
  @include center_vertical;
  padding: 20px 0;

  i {
    font-size: 18px;
    padding: 5px 18px 0 0;
  }
  a {
    font-size: 18px;
    font-weight: 500;
  }
}



.dashboard-container{
  background: #F6F6F6;
  width:calc(100% - 250px);
  min-height: calc(100% - 66px);
  position: absolute;
  left:250px;
  top:66px;

  .dashboard-content{
    background: white;
    padding: 15px 0 0 15px;
    width: calc(100% - 25px);
    height: calc(100% - 25px);
    margin: 10px 0 0 10px;
  }
}



.item-card-container {
  width: 260px;
  border-radius: 8px;
  @include drop_shadow_center;

  .image-container {
    img {
      width: 100%;
      border-radius: 8px 8px 0 0;
    }
  }

  .data-container {
    @include center_vertical_column;
    padding: 10px 20px;

    h1 {
      font-size: 20px;
      text-align: center;
      margin:0;
      padding: 0 0 8px 0;
      border-bottom: 1px solid #e0e0e0;
      font-weight: 600;
    }
  }
}




.title-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 50px 20px 0;
  h1 {
    margin:0;
    font-size: 22px;
    font-weight: 600;
  }
  button {
    border-radius: 3px;
    padding: 10px 28px;
    font-size: 15px;
    font-weight: 600;
    background: #3C7BFF;
    color:white;
    border:none;
  }
}

.location-container {
  margin: 10px 0 5px 0;
  @include center_vertical;
  p {
    margin: 0 18px 0 0;
    font-weight: 600;
    font-size: 16px;
    color:#3C7BFF;
  }
  i {
    margin: 4px 4px 0 0;
    font-size: 18px;
    color:#3C7BFF;
  }
}

.price-container{
  @include center_vertical;
  h2{
    margin: 0;
    color:#3C7BFF;
  }
  p{
    margin: 3px 0 0 3px;
    font-weight: 500;
    color: #828282;
  }
}


.item-page-container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  .images-container {
    width:100%;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    flex: 1 1 300px;
    img {
      width: 100%;
    }
    .thumbnail-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap:3%;
      margin: 5px 0 10px 0;
      img {
        width:30%;
        margin:20px 0 0 0;
        border-radius: 7px;
      }
      .upload-image-icon {
        width:30%;
        margin: 20px 0 0 0;
        border-radius: 7px;
        @include drop_shadow_center;
        @include center;
        i {
          color:#3C7BFF;
          font-size: 28px;
          @include center
        }
      }
    }
    .thumbnail-container:after{
      content:'';
      width:30%;
    }
  }
  .data-container {
    padding: 20px 60px 20px 50px;
    max-width: 700px;
    flex: 1 1 300px;
    h1 {
      font-size: 24px;
    }
    .location-price{
      margin:30px 0;
    }
    .item-description{
      font-weight: 500;
      font-size: 17px;
    }
    .button-container{
      margin-top:35px;
      button:nth-child(1){
        @include button_fill_blue;
        margin-right: 25px;
      }
      button:nth-child(2){
        @include button_blue_border;
      }
    }
  }
  .details-container{
    border-top:1px solid #d7d7d7;
    width:100%;
    margin: 20px 50px 20px 0;
    padding-top:10px;
    h1{
      font-size: 20px;
    }
    p{
      max-width: 700px;
    }
  }
  .map-container{
    width:100%;
    height:400px;
    border: 1px solid grey;
    margin: 20px 50px 20px 0;
  }
  .contact-container{
    width:100%;
    height:400px;
    border: 1px solid grey;
    margin: 20px 50px 20px 0;
  }
}


.confirm-modal-container{
  position: fixed;
  top:66px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100vh - 66px);
  background: rgba(42, 42, 42, 0.5);
  @include center;
  .confirm-modal{
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    @include center_vertical_column;
    padding: 35px 60px 25px 60px;
    i {
      font-size: 40px;
      color: #ff5252;
      margin-bottom: 10px;
    }
    .action {
      margin: 5px 0 10px 0;
      font-size: 18px;
    }
    .item {
      margin: 5px 0;
      font-size: 20px;
    }
    .button-container {
      margin: 25px 0 5px 0;
      .confirm {
        margin: 0 10px;
        width:100px;
        height: 36px;
        background: #ff5252;
        border: none;
        border-radius: 3px;
        color:white;
        font-weight: 600;
        cursor: pointer;
      }
      .cancel {
        margin: 0 10px ;
        width:100px;
        height: 36px;
        background: none;
        border: 2px solid #959595;
        border-radius: 3px;
        color: #5e5e5e;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
}

.input-modal-container{
  position: fixed;
  top:66px;
  left: 250px;
  width: calc(100% - 250px);
  height: calc(100vh - 66px);
  background: rgba(42, 42, 42, 0.5);
  @include center;
  .input-modal{
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    @include center_vertical_column;
    padding: 35px 60px 25px 60px;
    width:80%;
    height: 670px;
  }
}










